* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: black;
}

.navbar {
  display: flex;
  height: 60px;
  background-color: black;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 20px;
  position: fixed;     
  top: 0;
  left: 0;
  right: 0;
}

.nav-logo {
  height: 60px;
  width: 100px;
  align-items: center;
}

.nav-logo .logo {
  height: 60px;
  width: 100%;
  background-image: url("yt.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-search {
  display: flex;
  align-items: center;
  width: 600px;
}

.nav-search input {
  flex: 1;
  padding: 10px;
  border: 1px solid #303030;
  background: #121212;
  color: white;
  border-radius: 20px 0 0 20px;
}

.nav-search .search-btn {
  padding: 10px 20px;
  border: 1px solid #303030;
  border-left: none;
  background: #303030;
  color: white;
  border-radius: 0 20px 20px 0;
}

.nav-search .search-mic {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #303030;
  color: white;
  border: 2px solid #303030;
  margin-left: 10px;
}


.create {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.create-icon .create-btn {
  background-color: #303030;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  border: 2px solid #303030;
}

.sidebar {
  width: 220px;
  background: black;
  top: 60px;          
  padding: 10px 0;
  position: fixed;
}

ul {
  list-style: none;
}

.sidebar li a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  color: #aaa;
  text-decoration: none;
}

.sidebar li a:hover {
  background: #383838;
  border-radius: 10px;
}

.sidebar hr {
  border-top: 1px solid #aaa;
  margin: 10px 0;
}

.sidebar-title {
  color: #aaa;
  font-weight: 200;
  padding-left: 10px;
}

.filter-bar {
  position: fixed;   
  top: 60px;
  left: 220px;
  right: 0;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.filter-bar button {
  background: #303030;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.filter-bar button:hover {
  background: white;
  color: black;
}

.filter-bar .active {
  background: white;
  color: black;
}

.main-content {
  margin-left: 220px;   
  margin-top: 110px;    
  padding: 20px;
  background: black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video-card {
  background: #181818;
  border-radius: 10px;
}

.video-card img {
  width: 100%;
  border-radius: 10px;
}

.video-info {
  display: flex;
  padding: 10px;
  color: white;
}
.video-info h6 {
  font-size: 16px;   
  font-weight: 500;
}

.video-info p {
  font-size: 12px;   
  color: #aaa;       
}

.video-info i {
  margin-right: 10px;
  font-size: 30px;
}
