*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    background-color: #1b2137;
}
.navbar-brand img{
    height: auto;
    width: 100%;
    max-height: 60px;
}
.navbar{
    height: 10vh;
}
.navbar-nav{
    gap: 35px;
}
.nav-btn{
    display: flex;
    gap: 8px;
}
.hero-content{
    height: 90vh;
    display: flex;
    align-items: center;
}
.hero-content h1{
    font-size: 3.5vw;
}
.hero-content h5{
    font-size: 1.5vw;
}
.hero-content span{
    color: #dc3545;
}
.progress{
    height: 5px;
    width: 8%;
    background-color: #dc3545;
}
.hero-content button{
    border-radius: 0;
}
.hero-img{
    position: relative;
}
.hero-img img{
    height: auto;
    width: 100%;
    max-height: 380px;
    position: absolute;
    left: -150px;
    top: -90px;
}
.hero-card{
   display: flex;
   align-items: center;
   background-color: white;
   color: black;
   border-radius: 5px;
   width: 70%;
}
.hero-card img{
    width: 100%;
    height: auto;
    max-height: 50px;
}
.last-card{
    width: 100%;
    display: flex;
   align-items: center;
   background-color: white;
   color: black;
   border-radius: 15px;
   margin-top: 80px;
}
.last-img img{
    height: 100px;
}
.cards{
    margin-top: 180px;
}
.pg2{
    background-color: #f9f8f6;
}
.progress1{
    background-color: #1a3572;
}
.pg2-card{
    background-color: white;
    border-radius: 40px;
}
.pg2-text span{
    color: #1a3572;
}
.pg2-card h1{
    font-size: 2.5vw;
}
.pg2-img img{
    height: auto;
    width: 100%;
    max-height: 500px;
}
.pg3-content{
    background-color: #1b2137;
}
.point{
    display: flex;
    align-items: center;
    gap: 20px;
}
.pg3-points img{
    height: auto;
    width: 4%;
    max-height: 20px;
}
.pg3-img img{
    height: auto;
    width: 100%;
    max-height: 500px;
    position: relative;
    top: 120px;
}
.pg3-card img{
    height: auto;
    width: 100%;
    max-height: 60px;
}
.pg3-card{
   display: flex;
   align-items: center;
   background-color: white;
   color: black;
   border-radius: 10px;
   width: 70%;
}
.card1{
    position: absolute;
    top: 300px;
    left: -70px;
}
.card2{
    position: relative;
    top: 20px;
    left: -50px;
}
.pg3-card3{
    background-color: white;
   color: black;
   width: 80%;
   border-radius: 10px;
}
.pg3-card3 img{
    height: auto;
    max-height: 60px;
    width: 100%;
    border-radius: 10px;
}
.pg3-cards3{
    position: relative;
    top: 100px;
    left: -30px;
}
.pg3-content span{
    color: #dc3545;
}
.pg3-content h1{
    font-size: 4vw;
}
.pg4-content{
    background-color: #f5f5f5;
}
.line-shape {
  width: 40px;
  height: 8px; 
  background-color: #1a4d8c;
  border-radius: 10px; 
  display: block;
  margin: 0 auto;
}
.pill{
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 50%;
    border-radius: 80px;
}
.residential{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ebebeb;
    width: 50%;
    border-radius: 80px;
    color: #1a3572;
}
.residential img{
    height: auto;
    max-height: 20px;
    width: 10%;
}
.commercial{
    background-color: white;
}
.pg4-img img{
    width: 100%;
    height: auto;
    max-height: 400px;
    position: relative;
    right: 150px;
}
.pg4-left{
    position: relative;
    top: -80px;
}
.pg4-card img{
    height: auto;
    width: 100%;
    max-height: 50px;
}
.pg4-card{
   display: flex;
   align-items: center;
   background-color: white;
   color: black;
   border-radius: 10px;
}
.pg4-cards{
    position: relative;
    right: 80px;
    top: 60px;
}
.pg4-btn button{
    display:flex;
    align-items: center;
    gap: 15px;
    background-color: #1a3572;
    border: none;
}
.pill h6{
    font-size: 1vw;
}
.pg5-content{
    background-color: #1b2137;
}
.line1{
    background-color:  #dc3545;
}
.faq{
    align-items: center;
    border: 1px solid #565c7b;
    border-radius: 25px;
}
.que{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.arrow{
    background-color: white;
    border-radius: 50px;
    color: red;
    cursor: pointer;
}
.arrow i{
    transform: rotate(-30deg);
    font-size: 1.4vw;
}
.pg6-content{
    background-color: #f8f9fb;
}
.pg6-arrow{
    display: inline-flex;
    gap: 40px;
}
.left-arrow{
    background-color: #1a3572;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.left-arrow i{
    font-size: 1.4vw;
}
.right-arrow{
    transform: rotate(180deg);
}
.pg6-img img{
    height: auto;
    width: 100%;
    max-height: 400px;
    border-radius: 10px;
}
.review-card{
    background-color: white;
    display: flex;
    border-radius: 10px;
    position: relative;
    left: -40px;
    top: -40px;
}
.star-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stars{
    color: #ff8844;
}
.block-card{
    background-color: #1a3572;
    border-radius: 10px 0 0 10px;
}
@media(max-width:987px){
    .review-card{
        left: 0;
        top: 0;
    }
    .navbar-nav{
        gap: 0;
    }
}
.pg7-content{
    background-color: #1b2137;
}
.pg7-img img{
    height: auto;
    width: 80%;
    max-height: 500px;
}
.pg8-content{
    background-color: #F6F6FF;
}
.pg8-block{
    background-color: red;
    border-radius: 10px 10px 0 0;
    padding: 6px;
}
.pg8-card{
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -80px;
}
.pg8-img{
    background-color: #1b2137;
    border-radius: 10px;
}
.pg8-img img{
    height: auto;
    width: 50%;
    max-height: 90px;
}
.myform{
    background-color: white;
    border: 2px solid #D9DAF0;
    border-radius: 25px;
}
input{
    border-radius: 8px;
    border: 1px solid #D9DAF0;
    width: 100%;
}
.message{
    height: 130px;
}
.card2-cont img{
    height: auto;
    width: 10%;
    max-height: 60px;
}
.card2-cont{
    display: flex;
    align-items: center;
    gap: 30px;
}
.pg8-card2{
    background-color: #1b2137;
    border-radius: 25px;
}
.socials{
    display: flex;
    gap: 30px;
    font-size: 1.7vw;
}
.footer-content{
    background-color: #1b2137;
}
.fot-img img{
    height: auto;
    width: 50%;
    max-height: 80px;
}